@import 'styles/colors';

.inputWrapper {
    color: @textColor4;
    border-radius: 16px !important;
    background: @white !important;

    &.multiline {
        padding: 10px 10px 25px !important;
    }
}

.input {
    color: @inputRed !important;
    padding: 10px 12px !important;
    font-family: Proxima Nova, sans-serif !important;
    font-size: 14px !important;
    line-height: 15px !important;
    border-radius: 16px !important;
    touch-action: none !important;

    &.noMultiline {
        height: 30px !important;
    }
}
