@import 'styles/colors';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 47px);
    max-width: 500px;
    padding: 17px 0 30px;

    &.search {
        background: url('imgs/searchOnboarding1.png') no-repeat center 50%;
        background-size: 100%;

        @media (orientation: landscape) {
            max-width: 450px;
            min-height: 600px;
            background: url('imgs/searchOnboarding1.png') no-repeat center 65%;
            background-size: 100%;
        }

        &.second {
            background: url('imgs/searchOnboarding2.png') no-repeat center 50%;
            background-size: 90%;

            @media (orientation: landscape) {
                max-width: 450px;
                min-height: 700px;
                background: url('imgs/searchOnboarding2.png') no-repeat center 55%;
                background-size: 100%;
            }
        }
    }

    &.card {
        background: url('imgs/searchCardOnboarding1.png') no-repeat center 55%;
        background-size: 100%;

        @media (orientation: landscape) {
            max-width: 450px;
            min-height: 650px;
            background: url('imgs/searchCardOnboarding1.png') no-repeat center 65%;
            background-size: 100%;
        }

        &.second {
            background: url('imgs/searchCardOnboarding2.png') no-repeat center 50%;
            background-size: 75%;

            @media (orientation: landscape) {
                max-width: 450px;
                min-height: 600px;
                background: url('imgs/searchCardOnboarding2.png') no-repeat center 55%;
                background-size: 75%;
            }
        }
    }
}

.header {
    display: flex;
    gap: 4px;
    padding: 0 23px;
}

.tab {
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background: @border3;

    &.checked {
        background: @textColor2;
    }
}

.title {
    margin: 50px 0 50px;
    color: @textColor2;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;

    &.card {
        padding: 0 23px;
        margin: 39px 0 10px;
    }

    &.second {
        margin: 41px 0 14px;
    }
}

.description {
    margin-bottom: 30px;
    color: @red1;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    &.card {
        padding: 0 40px;
        margin-bottom: 16px;
    }
}

.footerDescr {
    margin: 60px 0 16px;
    color: @textColor6;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.button {
    padding: 0 26px;
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: var(--87, conic-gradient(from -3deg at 100% -13%, #C34968 0deg, #800020 360deg)) !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}
