@import 'styles/colors';

.header {
    position: relative;
    padding: 8px 21px;
}

.back {
    position: absolute;
    left: 21px;
    top: 16px;

    svg {
        fill: @arrow1;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 39px;
    height: 37px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.descr {
    display: flex;
    flex-direction: column;
}

.step {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    color: @textColor2;
}

.caption {
    font-family: Proxima Nova, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: @textColor1;
}

.progressWrapper {
    height: 2px;
    background: @gray;
}

.progress {
    height: inherit;
    background: @common-red;
    border-radius: 0 25px 25px 0;

    &.one {
        width: 33.33%;
    }

    &.two {
        width: 66.66%;
    }

    &.three {
        width: 100%;
        border-radius: 0;
    }
}

.form {
    padding: 15px 17px 20px;
}
