{
    email r.stupa@ya.ru

}

1krovi.app {
    root * /srv
    file_server
    encode gzip zstd

    route /api/* {
        reverse_proxy backend:3000
    }

    # Логирование для отладки
    log {
        output stdout
        format console
    }
}
