{
    # Глобальные настройки: твой email для уведомлений от ACME
    email r.mayer.th@gmail.com
}

1krovi.app {

    root * /srv
    encode gzip zstd

    # API маршруты
    handle /api/* {
        reverse_proxy backend:3000
    }

    # SPA routing
    handle {
        try_files {path} {path}/ /index.html
        file_server
    }

    log {
        output stdout
        format console
    }
}

dev.1krovi.app {
    reverse_proxy 10.0.0.73:80
}

prodbot.1krovi.app {
    reverse_proxy max-bot:6000
}

devbot.1krovi.app {
    reverse_proxy 10.0.0.73:6000
}
