@import 'styles/colors';

.selectArrow {
    width: 22px;
    height: 22px;

    svg {
        width: inherit;
        height: inherit;
        fill: @textColor4;
    }
}

.input input {
    display: none;
}
