@white: #fff;
@white1: #FFF8F7;
@white2: #E6FDFF;
@white3: #F8E5E5;
@gray: #CCC;

@white-bg: #F6F7FB;
@white-bg1: #F2F3F9;
@inputRed: #663743;
@ErrorRed: #FF1111;
@ErrorBgRed: #FFEBE8;
@radioBorder: #C4A4AC;
@checkbox: #FF0032;
@grayBg: #EDEDED;
@grayBg2: #EFF1F6;
@grayBg3: #F8F8F8;
@grayBg4: #B4B4B4;
@grayBg5: #9D9D9D;
@grayBg6: #E6E6E6;
@grayBg7: #EEEEEE;
@grayBg8: #EAEAEA;
@grayBg9: #7B7C7C;
@grayBg10: #D7D7D7;
@grayBg11: #F0F0F0;
@grayBg12: #E2E6ED;
@grayBg13: #C5CDDA;
@grayBg14: #BFB5B8;
@grayBg15: #D7DAFD;
@grayBg16: #FFE5E5;
@grayBg17: #D1D7D1;
@grayBg18: #F2DEE4;
@orangeBg: #FFE9E9;
@orangeBg1: #FFE3BC;

@textColor1: #8B7069;
@textColor2: #914759;
@textColor3: #DFC4CD;
@textColor4: #ACACAC;
@textColor5: #948A8C;
@textColor6: #A16969;
@textColor7: #6E3D35;
@textColor8: #7D522D;

@border1: #D9D2D4;
@border2: #EFD9D9;
@border3: #BCC3D0;
@border3: #E6E6EC;
@border4: #FFD9D9;

@red: #994442;
@red1: #C8919F;
@red2: #FF4A4A;
@red4: #F0E8EB;
@red5: #FFF5F5;
@red6: #F95721;
@red7: #A6263C;
@red8: #CF7070;
@red9: #CEA1B0;
@red10: #FF2727;
@red11: #EB3737;
@red12: #FAB7AE;
@red13: #974A5D;
@red14: #8D5762;
@red15: #A6475E;
@redred: #991400;
@common-red: #800020;

@orange: #FF7411CF;
@orange1: #D87A33;
@orange2: #FDEFE6;

@black: #1B1B19;

@blue: #465CB3;
@blue1: #5058C1;
@blue2: #515AC2;

@arrow1: #D7AFAF;
