@white: #fff;
@white1: #FFF8F7;
@gray: #CCC;

@white-bg: #F6F7FB;
@white-bg1: #F2F3F9;
@inputRed: #663743;
@ErrorRed: #FF1111;
@ErrorBgRed: #FFEBE8;
@radioBorder: #C4A4AC;
@checkbox: #FF0032;
@grayBg: #EDEDED;
@grayBg2: #EFF1F6;
@orangeBg: #FFE9E9;

@textColor1: #8B7069;
@textColor2: #914759;
@textColor3: #DFC4CD;
@textColor4: #ACACAC;
@textColor5: #948A8C;
@textColor6: #A16969;
@textColor7: #6E3D35;

@border1: #D9D2D4;
@border2: #EFD9D9;
@border3: #BCC3D0;
@border3: #E6E6EC;

@red: #994442;
@red1: #C8919F;
@red2: #FF4A4A;
@red4: #F0E8EB;
@red5: #FFF5F5;
@redred: #991400;
@common-red: #800020;

@arrow1: #D7AFAF;
