@white: #fff;
@common-red: #800020;
@white-bg: #F6F7FB;
@inputRed: #663743;
@ErrorRed: #FF1111;
@ErrorBgRed: #FFEBE8;
@radioBorder: #C4A4AC;
@checkbox: #FF0032;

@textColor1: #8B7069;
@textColor2: #914759;
@textColor3: #DFC4CD;

@border1: #D9D2D4;
@border2: #EFD9D9;

@red: #994442;
@redred: #991400;
