@import 'styles/colors';

.wrapper {
    padding: 13px 12px;
}

.buttonsRow {
    display: flex;
    gap: 6px;

    &.chip {
        gap: 10px;
    }

    &.dogGroup {
        margin-bottom: 20px;
    }
}

.buttonsRowItem {
    height: 50px;
    width: 50%;
    border-radius: 50px !important;
    background: @white !important;
    color: @textColor4 !important;
    text-transform: none !important;
    font-family: Proxima Nova, sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 15px !important;

    &.checked {
        background: @common-red !important;
        color: @textColor3 !important;
    }

    &.responsive {
        width: unset;
        flex-grow: 1;
    }
}

.chipField {
    width: 50%;
}

.input {
    background: @grayBg2 !important;
}

.buttonIcon {
    width: 16px;
    height: 16px;
    margin-left: -30px;
    fill: @border3;

    &.female {
        width: 13px;
        height: 18px;
    }

    &.isChecked {
        fill: @textColor2;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
    }
}

.endAdornment {
    color: @textColor1;
    height: 50px;
    line-height: 50px;
    width: 33px;
    text-align: right;
    border-left: 1px solid @border3;
}

.picker {
    margin-top: 8px;
}

.ageItem {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 4px;
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: @textColor3 !important;
    text-transform: none !important;
    pointer-events: none;
    opacity: .4;

    &.enabled {
        opacity: 1;
        pointer-events: auto;
    }
}


