@import 'styles/colors';

.rootSelect {
    font-family: Proxima Nova, sans-serif !important;
    min-height: 50px !important;
    border-radius: 16px !important;
    background: @white;
    color: @textColor4 !important;
    padding-right: 30px !important;
}

.select {
    padding: 8px 13px !important;
    position: relative;
    z-index: 1;
}

.placeholder {
    color: @inputRed;
    opacity: 0.5;
}

.selectArrow {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 0;

    svg {
        width: inherit;
        height: inherit;
        fill: @textColor4;
    }
}

.selectIcon {
    display: none !important;
}

.chip {
    font-family: Proxima Nova, sans-serif !important;
    background: @white-bg !important;
    color: @textColor5 !important;
    font-size: 12px !important;
    line-height: 15px !important;
}
