@import 'styles/colors';

.alert {
    margin-bottom: 20px;

    &.isTopMargin {
        margin-top: 8px;
    }

    &.firstOfFew {
        margin: 8px 0 0;
    }
}

.formItem {
    margin-bottom: 20px;
}

.labelWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &.noMargin {
        align-items: center;
    }
}

.label {
    margin: 0 0 8px;
    font-size: 15px;
    line-height: 20px;
    color: @textColor2;

    &.noMargin {
        margin: 0;
    }
}

.subLabel {
    font-family: Proxima Nova, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: @textColor4;
}

.bloodGroups {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.bloodItem {
    position: relative;
    flex-grow: 1;
    height: 50px;
    background: @white;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    color: @textColor4;

    &.checked {
        color: @textColor3;
        background: @common-red;
    }
}

.lockIcon {
    position: absolute;
    top: 2px;
    right: 13px;
    width: 12px;
    height: 14px;

    svg {
        width: inherit;
        height: inherit;
        fill: @red1;
    }
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
    pointer-events: none;
    opacity: .4;

    &.enabled {
        opacity: 1;
        pointer-events: auto;
    }
}

.endAdornment {
    color: @textColor1;
    height: 50px;
    line-height: 50px;
    width: 33px;
    text-align: right;
    border-left: 1px solid @border3;
}

.donorDescr {
    margin: 6px 0 0;
    font-family: Proxima Nova, sans-serif;
    color: @red1;
    font-size: 12px;
    line-height: 15px;
}
