@import 'styles/colors';

.title {
    width: 80%;
    margin: 125px auto 14px;
    color: @textColor2;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.subtitle {
    margin: 0;
    color: @textColor7;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    opacity: .6;
}

.noPackets {
    display: block;
    width: 73%;
    margin: 50px auto 0;

    &.donorsTab {
        width: 95%;
        margin: 60px auto 0;
    }
}
