@import 'styles/colors';

.formItem {
    margin-bottom: 20px;
}

.labelWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}

.label {
    font-size: 15px;
    line-height: 20px;
    color: @textColor2;
}

.subLabel {
    font-family: Proxima Nova, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: @textColor4;
}

.infoIcon {
    display: inline-block;
    margin-left: 8px;
    width: 17px;
    height: 17px;
    transform: translateY(2px);

    svg {
        width: inherit;
        height: inherit;
    }
}

.tooltip {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 250px;
    max-width: 80%;
    transform: translate(0%, 110%);
    background: @orangeBg1;
    color: @textColor8;
    padding: 8px;
    border-radius: 8px;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    z-index: 1000;
    pointer-events: none;
}
