@import 'styles/colors';

.header {
    height: 120px;
    background: url('imgs/regHeader.png') no-repeat bottom;
    background-size: cover;
    text-align: center;
}

.title {
    padding-top: 37px;
    color: @textColor3;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
}

.subTitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 7px 0 0;
    color: rgba(223, 196, 205, 0.62);
}

.form {
    padding: 218px 40px 20px;
}

.textField {
    margin: 16px 0 !important;
}

.inputWrapper {
    font-family: Marmelad, sans-serif !important;

    &::after {
        border-bottom: none !important;
    }

    &::before {
        border-bottom: 1px solid @border1 !important;
    }

    &.inputWrapperError {
        &::before {
            border-bottom: 1px solid @ErrorRed !important;
        }
    }
}

.input {
    color: @inputRed !important;
    height: 42px !important;
    padding: 8px 22px 0 8px !important;
    font-size: 22px !important;
    line-height: 24px !important;
}

.inputError {
    background: @ErrorBgRed;

    &::placeholder {
        color: @ErrorRed !important;
        opacity: 1 !important;
    }
}

.button {
    height: 62px;
    margin: 133px 0 16px !important;
    border-radius: 21px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.agrUnChecked {
    border: 1ps solid @checkbox !important;
}

.agreementLabel {
    font-family: Proximanova, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin: 0;
}

.agreementLabelLink {
    color: @common-red;
    text-decoration: none;
}

.links {
    margin-top: 16px;
    text-align: center;
}

.loading {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}
