@import 'styles/colors';

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}
