@import 'styles/colors';

.root {
    color: @radioBorder !important;
    padding: 0 6px 0 0 !important;
}
.checked {
    color: @common-red !important;
    border-color: @radioBorder;
}
.disabled {
    opacity: 0.5;
    cursor: default !important;
}
