@import 'styles/colors';

.photo {
    width: 140px;
    height: 177px;
    margin: 0 auto 20px;
}

.alert {
    margin-bottom: 20px;
}

.input {
    color: @inputRed !important;
    max-height: 400px !important;
    min-height: 55px !important;
    font-family: Proxima Nova, sans-serif !important;
    font-size: 14px !important;
    line-height: 15px !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.textFieldWrapper {
    position: relative;
}

.counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: @textColor4;
    font-family: Proxima Nova, sans-serif;
    font-size: 10px;
    line-height: 15px;

    &.bigText {
        color: @red6;
    }
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}
