@import 'styles/colors';

.img {
    display: block;
    width: 100%;
    margin: 0 auto 10px;

    @media (orientation: landscape) {
        max-width: 375px;
    }
}

.container {
    padding: 0 12px 35px;
}

.title {
    margin: 35px 0 0;
    color: @textColor7;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.descr {
    margin: 32px 0 16px;
    color: @textColor7;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    opacity: .6;
}

.item {
    position: relative;
    display: flex;
    gap: 13px;
    margin-bottom: 19px;

    &:last-child {
        margin-bottom: 52px;
    }
}

.icon {
    width: 15px;
    height: 15px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.itemDescr {
    margin: 0;
    color: @textColor7;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.infoIcon {
    width: 17px;
    height: 17px;
    margin-left: auto;

    svg {
        width: inherit;
        height: inherit;
    }
}

.tooltip {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
    transform: translate(2%, 0%);
    background: @orangeBg1;
    color: @textColor8;
    padding: 8px;
    border-radius: 8px;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    z-index: 1000;
    pointer-events: none;
}

.profileButton {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}

.back {
    margin: 28px 0 0;
    color: @textColor7;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    opacity: .6;
}

