@import 'styles/colors';

.photo {
    margin: 0 auto 20px;
}

.alert {
    margin-bottom: 20px;
}

.petType {
    display: flex;
    gap: 6px;
}

.petTypeButton {
    height: 50px;
    width: 50%;
    border-radius: 50px !important;
    background: @white !important;
    color: @textColor4 !important;
    text-transform: none !important;
    font-family: Proxima Nova, sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 15px !important;

    &.checked {
        background: @common-red !important;
        color: @textColor3 !important;
    }
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
    pointer-events: none;
    opacity: .4;

    &.enabled {
        opacity: 1;
        pointer-events: auto;
    }
}

.lock {
    background: @grayBg2 !important;
}

.lockIcon {
    width: 12px;
    height: 14px;

    svg {
        width: inherit;
        height: inherit;
        fill: @textColor4;
    }
}

.endAdornment {
    color: @textColor1;
    height: 50px;
    line-height: 50px;
    width: 33px;
    text-align: right;
    border-left: 1px solid @border3;
}

.bloodGroups {
    display: flex;
    flex-direction: row;
    gap: 6px;

    &.dogGroup {
        margin-bottom: 8px;
    }
}

.bloodItem {
    flex-grow: 1;
    height: 50px;
    background: @white;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    color: @textColor4;

    &.checked {
        color: @textColor3;
        background: @common-red;
    }
}
