@import 'styles/colors';

.wrapper {
    position: relative;

    &.isPets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px 0;
}

.fullName {
    margin: 0;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: @textColor2;
    font-family: Marmelad, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

.bonusCounter {
    -webkit-appearance: button;
    height: 32px;
    min-width: 62px;
    padding: 5px 7px 5px 7px;
    border: 0;
    border-radius: 28px;
    background: @grayBg11;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    cursor: pointer;
}

.bonusCounterIcon {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: @white;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    :global(svg) {
        width: 18px;
        height: 18px;
        display: block;
    }
}

.bonusCounterValue {
    color: @textColor6;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.avatar {
    width: 42px;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    border-radius: 50%;
    background: linear-gradient(0deg, #ad6262 0%, #ad6262 100%);
    text-align: center;
    color: @white-bg;
    cursor: pointer;
    overflow: hidden;
}

.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    height: 119px;
    padding: 36px;
    margin: 61px 12px 0;
    border-radius: 21px;
    border: 1px solid @border2;
    box-sizing: border-box;
    background: @white;
}

.pawIcon {
    width: 50px;
    height: 55px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.pawButtonText {
    font-size: 16px;
    font-weight: 500;
    color: @textColor2;
}

.showcase {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, minmax(100px, 2fr));
    height: calc(100vh - 46px - 71px - 8px);
    padding: 0 12px;
    margin-top: 16px;
    overflow-x: auto;
    align-content: flex-start;

    &.donorView {
        height: calc(100vh - 46px - 71px - 32px - 47px);
        margin-top: 0;
    }
}

.footer {
    display: flex;
    position: relative;
    height: 71px;
    overflow: hidden;
}

.viewButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    background: @grayBg8;
    box-sizing: border-box;

    &.checked {
        background: @common-red;

        & .buttonText {
            color: @red8;
        }
    }

    &:first-child {
        padding-right: 37px;
    }

    &:last-child {
        padding-left: 37px;
    }
}

.pawButton {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 62px;
    height: 62px;
    background: @white;
    border-radius: 50px;
    border: 6px solid @common-red;
    text-align: center;

    svg {
        width: 37px;
        height: 44px;
        margin-top: 13px;
        margin-left: 9px;
    }
}

.buttonIcon {
    width: 25px;
    height: 25px;
    fill: @grayBg4;

    &.checked {
        fill: @red7;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
        transition: none;
    }
}

.buttonText {
    color: @grayBg5;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}

.pet {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.27; /* пропорции например: 1 / 1 */
    object-fit: cover;
    border-radius: 12px;

    &.cat {
        background:
            url('imgs/catStub.png') no-repeat,
            linear-gradient(182deg, rgba(0, 0, 0, 0) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
        background-size: cover;
    }

    &.dog {
        background:
            url('imgs/dogStub.png') no-repeat,
            linear-gradient(182deg, rgba(0, 0, 0, 0) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
        background-size: cover;
    }

    &.notPreference {
        padding: 16px 15px;
        background: @textColor2;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    &.notCandidats {
        padding: 15px 15px 0;
        background: @textColor6;
        box-sizing: border-box;
    }

    &.isCandidats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        background: @common-red;
        box-sizing: border-box;
    }
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.photoFooter {
    width: calc(100% - 12px);
    position: absolute;
    bottom: 10px;
    left: 6px;
    z-index: 2;
}

.name {
    color: @white;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bloodGroup {
    position: absolute;
    top: 7px;
    left: 5px;
    height: 32px;
    min-width: 32px;
    padding: 0 8px;
    color: @white1;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 25px;
    background: @red2;
    box-sizing: border-box;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 12px;
    background: linear-gradient(182deg, rgba(0, 0, 0, 0) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
    z-index: 1;
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 5px;
    height: 32px;
    border-radius: 8px;
    font-family:
        Proxima Nova,
        sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;

    @media (min-width: 500px) {
        height: 42px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    @media (min-width: 768px) {
        height: 50px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    &.activeSearch {
        background: @red1;
        color: @white2;
    }

    &.startSearch {
        color: @grayBg10;
        background: @grayBg9;
    }

    &.bloodFound {
        background: @red11;
        color: @border4;

        & .searchIcon {
            fill: @red12;
        }
    }

    &.didNotRecover {
        gap: 8px;
        background: @blue;
        color: @grayBg15;
    }

    &.notReady {
        gap: 8px;
        background: @red11;
        color: @grayBg16;

        & .searchIcon {
            width: 18px;
            height: 18px;
        }
    }

    &.donationQuestions {
        gap: 8px;
        background: @orange1;
        color: @border4;

        & .searchIcon {
            width: 18px;
            height: 18px;
        }
    }

    &.pause {
        gap: 8px;
        background: @grayBg24;
        color: @white;

        & .statusLabelIcon {
            width: 22px;
            height: 22px;
        }
    }
}

.searchIcon {
    width: 13px;
    height: 13px;
    fill: @white-bg;

    @media (min-width: 500px) {
        width: 16px;
        height: 16px;
    }

    @media (min-width: 768px) {
        width: 18px;
        height: 18px;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
    }
}

.labelText {
    position: relative;
}

.labelArrow {
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-58%);
    margin: 0;

    @media (min-width: 500px) {
        right: -20px;
    }

    @media (min-width: 768px) {
        right: -22px;
    }
}

.tabs {
    display: flex;
    height: 50px;
    margin: 10px 12px 20px;
    padding: 6px 3px;
    align-items: center;
    border-radius: 40px;
    background: @grayBg11;
    box-sizing: border-box;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 50%;
    height: 43px;
    border-radius: 40px;
    color: @textColor1;
    text-align: center;
    font-family:
        Proxima Nova,
        sans-serif;
    font-size: 12px;
    font-weight: 400;

    &.active {
        color: @white;
        background: @common-red;

        & div {
            background: @red13;
            border-radius: 50%;
            opacity: 1;
        }
    }
}

.tabCounter {
    min-width: 20px;
    height: 20px;
    background: @grayBg8;
    border-radius: 50%;
    color: @grayBg14;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.5;
}

.plannedDonations {
    height: calc(100vh - 46px - 71px - 32px - 47px);
    overflow: auto;
}

.recover {
    flex-shrink: 0;
    width: 31px;
    height: 28px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.recoverDays {
    margin: 2px 0 0;
    color: @blue1;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.recoverDescr {
    margin: -6px 0 0;
    color: @blue2;
    font-family:
        Proxima Nova,
        sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
}

.settingTabText {
    margin: 22px 0 0;
    color: @white3;
    font-family: Marmelad, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.8;
}

&.settingsButton {
    height: 36px;
    background: @grayBg6 !important;
    border-radius: 8px !important;
    color: @textColor2 !important;
    text-transform: none !important;
    font-family:
        Proxima Nova,
        sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 15px !important;
    margin-top: auto !important;

    @media (min-width: 500px) {
        height: 42px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
    }

    @media (min-width: 768px) {
        height: 50px !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 20px !important;
    }

    & .settingsIcon {
        margin-right: 17px;
        width: 16px;
        height: 16px;
        fill: @textColor6;

        svg {
            width: inherit;
            height: inherit;
            fill: inherit;
        }
    }
}

.notCandidatsButton {
    display: flex;
    width: 34px;
    height: 34px;
    border-radius: 7px;
    background: @red14;
    box-sizing: border-box;
}

.preferencesettings {
    margin: auto;
    width: 16px;
    height: 16px;
    fill: @white;

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
    }
}

.notCandidatsTitle {
    margin: 32px 0 9px;
    color: @white-bg;
    font-family: Marmelad, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.8;
}

.notCandidatsDescr {
    color: @white-bg;
    font-family:
        Proxima Nova,
        sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.6;
}

.isCandidatsTitle {
    color: @red1;
    font-family: Marmelad, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.isCandidatsButton {
    height: 36px;
    background: @red15 !important;
    border-radius: 8px !important;
    color: rgba(242, 222, 228, 0.8) !important;
    text-transform: none !important;
    font-family:
        Proxima Nova,
        sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 15px !important;
    margin-top: auto !important;

    @media (min-width: 500px) {
        height: 42px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
    }

    @media (min-width: 768px) {
        height: 50px !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 20px !important;
    }

    & .settingsIcon {
        margin-right: 17px;
        width: 16px;
        height: 16px;
        fill: @textColor6;

        svg {
            width: inherit;
            height: inherit;
            fill: inherit;
        }
    }

    & .candidatsIcon {
        width: 16px;
        height: 20px;
        margin-left: 10px;
        transform: rotate(180deg);
        fill: rgba(242, 222, 228, 0.8);

        svg {
            width: inherit;
            height: inherit;
            fill: inherit;
        }
    }
}
