@import 'styles/colors';

.alert {
    padding: 8px;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    border-radius: 8px;
    background: @orangeBg;
    color: @common-red;

    &.infoWithoutIcon {
        background: @orangeBg1;
        color: @textColor8;
    }
}

.wrapper {
    display: flex;
    gap: 11px;
    align-items: center;
}

.logo {
    width: 17px;
    height: 17px;

    &.infoWithoutIcon {
        display: none;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: @red6;
    }
}

.reason {
    padding-left: 28px;
    width: 100%;
    margin-top: 6px;
    color: @red6;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}

.start {
    display: flex;
    align-items: end;
    gap: 3px;
}

.icon {
    width: 13px;
    height: 13px;
    fill: @red6;
    transform: rotate(180deg);

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
    }
}
