@import 'styles/colors';

.wrapper {
    display: flex;
    gap: 11px;
    padding: 8px;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    border-radius: 8px;
    background: @orangeBg;
    color: @common-red;

    &.infoWithoutIcon {
        background: @orangeBg1;
        color: @textColor8;
    }
}

.logo {
    width: 17px;
    height: 17px;

    &.infoWithoutIcon {
        display: none;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: @red6;
    }
}
