@import 'styles/colors';

.showcase {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(100px, 2fr));
    height: calc(100vh - 180px);
    padding: 0 12px 20px;
    overflow-x: auto;
    align-content: flex-start;
}

.pet {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.27; /* пропорции например: 1 / 1 */
    object-fit: cover;
    border-radius: 12px;

    &.cat {
        background: url('imgs/catStub.png') no-repeat, linear-gradient(182deg, rgba(0, 0, 0, 0.00) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
        background-size: cover;
    }

    &.dog {
        background: url('imgs/dogStub.png') no-repeat, linear-gradient(182deg, rgba(0, 0, 0, 0.00) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
        background-size: cover;
    }
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.photoFooter {
    width: calc(100% - 12px);
    position: absolute;
    bottom: 10px;
    left: 6px;
    z-index: 2;
}

.name {
    color: @white;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    display: flex;
    position: absolute;
    top: 7px;
    left: 5px;
}

.bloodGroup {
    height: 32px;
    min-width: 32px;
    padding: 0 8px;
    color: @white1;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 25px;
    background: @red2;
    box-sizing: border-box;
}

.bloodVolume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    min-width: 40px;
    padding: 10px 5px 0;
    color: @red1;
    font-family: Marmelad, sans-serif;
    border-radius: 0 12px 0 13px;
    background: @orange3;
    box-sizing: border-box;
}

.bloodVolumeNumber {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
}

.bloodVolumeDescr {
    margin: 0;
    font-size: 9px;
    font-weight: 400;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 12px;
    background: linear-gradient(182deg, rgba(0, 0, 0, 0.00) 44.37%, rgba(0, 0, 0, 0.54) 98.41%);
    z-index: 1;
}

.startView {
    position: relative;
    height: 100%;
    padding-top: 10px;
    background: url('imgs/donorShowcaseStart.png') no-repeat center bottom;
    background-size: 100%;

    @media (orientation: landscape) {
        margin: 0 auto;
        max-width: 550px;
        min-height: 600px;
        background: url('imgs/donorShowcaseStart.png') no-repeat center center;
        background-size: 100%;
    }
}

.title {
    margin: 0;
    color: @textColor2;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.descr {
    margin: 8px 0 23px;
    color: @textColor7;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.confirmButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.confirm {
    width: 174px;
    height: 60px;
    margin: 0 auto !important;
    border-radius: 10px !important;
    background: @common-red !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}

.labelText {
    position: relative;
    margin-left: -15px;
}

.labelArrow {
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-58%);
    margin: 0;
}

.cancelButton {
    position: relative;
    margin-top: 17px;
    color: @red1;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    z-index: 1;
}

.startViewImg {
    position: relative;
    width: calc(100% + 24px);
    height: calc(100% + 30px);
    margin: -50px -12px -30px;
    object-fit: cover;
    display: block;
    z-index: 0;
}

.icon {
    width: 33px;
    height: 32px;
    margin-left: -5px;

    svg {
        width: inherit;
        height: inherit;
    }
}


.label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 5px;
    height: 32px;
    border-radius: 8px;
    font-family: Proxima Nova, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;

    @media (min-width: 500px) {
        height: 42px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    @media (min-width: 768px) {
        height: 50px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    &.donationQuestions {
        gap: 8px;
        background: @orange1;
        color: @border4;

        & .searchIcon {
            width: 18px;
            height: 18px;
        }
    }
}

.searchIcon {
    width: 13px;
    height: 13px;
    fill: @white-bg;

    @media (min-width: 500px) {
        width: 16px;
        height: 16px;
    }

    @media (min-width: 768px) {
        width: 18px;
        height: 18px;
    }

    svg {
        width: inherit;
        height: inherit;
        fill: inherit;
    }
}
