@import 'styles/colors';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 0 30px;
    height: calc(100vh - 47px);
    max-width: 500px;
    background: url('imgs/recListOnboarding1.png') no-repeat center 50%;
    background-size: 100%;

    &.second {
        background: url('imgs/recListOnboarding2.png') no-repeat center 43%;
        background-size: 90%;

        @media (orientation: landscape) {
            max-width: 450px;
            min-height: 600px;
            background: url('imgs/recListOnboarding2.png') no-repeat center 55%;
            background-size: 100%;
        }
    }

    @media (orientation: landscape) {
        max-width: 450px;
        min-height: 600px;
        background: url('imgs/recListOnboarding1.png') no-repeat center center;
        background-size: 100%;
    }
}

.header {
    display: flex;
    gap: 4px;
    padding: 0 23px;
}

.tab {
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background: @border3;

    &.checked {
        background: @textColor2;
    }
}

.title {
    margin: 54px 0;
    padding: 0 35px;
    color: @textColor2;
    text-align: center;
    font-family: Marmelad, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;

    &.second {
        margin: 54px 0 10px;
    }
}

.description {
    margin-bottom: 37px;
    padding: 0 25px;
    color: @textColor1;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.button {
    padding: 0 26px;
}

.confirm {
    height: 60px;
    border-radius: 10px !important;
    background: var(--87, conic-gradient(from -3deg at 100% -13%, #C34968 0deg, #800020 360deg)) !important;
    font-family: Marmelad, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: @textColor3 !important;
    text-transform: none !important;
}
